# Symfony application's path (absolute or relative)
SYMFONY_APP_PATH=../path/to/symfony/folder

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=mydb
MYSQL_USER=user
MYSQL_PASSWORD=userpass

# MSSQL
MSSQL_PASSWORD=Test1234!

# Timezone
TIMEZONE=Europe/Warsaw

# Virtual Host
VIRTUAL_HOST=symfony.loc
ELK_VIRTUAL_HOST=symfony.elk.loc